/*file name : mainstyle.css*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(images/index.webp)no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    font-family: "Poppins", sans-serif;
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
}

header h2 .title-icon{
    height: 50px; /* 원하는 높이로 변경 */
    width: 60px; /* 원하는 너비로 변경 */
    transform: translate(0px, 6.6px);
}

header h2 .icon-color {
    fill: #fff;
}

header .logo {
    position: relative;
    color :rgb(245, 245, 245);
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

header .navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.2s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover {
    background: #f1eeacc2;  
}

.content {
    max-width: 650px;
    margin: 60px 100px;
    font-family: "Kode Mono", monospace;
}

.content .info p{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 40px;
}

.content .info h2 {
    color: #f3efb2;
    font-size: 55px;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 80px;
    margin-bottom: 50px;
}

.media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;  
}

.media-icons a :hover {
    transform: scale(1.5);
}

.media-icons .circle {
    width: 50px; /* 동그란 원의 너비 */
    height: 50px; /* 동그란 원의 높이 */
    border-radius: 50%; /* 동그란 모양으로 만듦 */
    background-color: #ccc; /* 배경색 (원의 색상) */
    display: flex; /* Flexbox 레이아웃 사용 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.media-icons .circle:not(:last-child) {
    margin-right: 40px;
}

.media-icons a .icon {
    width: 35px; 
    margin-top: 3.5px;
}

label .menu {
    height: 40px;     
}

label .close {
    height: 40px;     
}

label .click-menu {
    fill: white;
}

label .click-close {
    fill: white;
}

label {
    display: none;
}

#check {
    display: none;
    z-index: 1;
}

/* responsive web */

@media (max-width: 960px) {
    header .navigation{
        display: none;
    }

    label {
        display: block;
        cursor: pointer;
        position: relative; /* Add this line */
    }

    label:hover .menu path{
        fill: #7FFFD4;
    }

    label:hover .close path {
        fill: #7FFFD4;
    }
    
    label .click-close {
        display: none;
    }
   
    #check:checked ~ header .navigation a {
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked ~ header label .click-menu {
        display: none;
    }
   
    #check:checked ~ header .navigation {
        z-index: 0;
        background: rgba(232, 219, 192, 0.658);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
    }

    #check:checked ~ header label .click-close{
        z-index: 1; /* Increase z-index value */
        display: block;
        position: fixed;
    }

    label .menu {
        position: absolute;        
    }
        
}








@media (max-width: 560px) {
    .content .info h2 {
        font-size: 40px;       
    }

    .content .info p {
        font-size: 20px;
        
    }
}